.mt-224 {
    margin-top: 224px;
}
.position-otr {
    position: relative;
    h3 {
        position: relative;
        span {
            margin-left: 8px;
        }
    }
    p{
        padding-right: 32px;
    }
    .btn {
        &.btn-default {
            color: $colorA4;
            padding: 4px 8px;
            border-color: $colorE0;
            letter-spacing: -0.01em;
            font-weight: 600;
            line-height: 120%;
            &.red {
                color: $color3F;
                border-color: $color3F;
                background: $colorFF;
            }
        }
    }
    .pos-right-arrow {
        position: absolute;
        right: 0;
        top: 12px;
        width: 24px;
        height: 24px;
        img{
            width: 8px;
            height: 16px;
            margin: 0 auto;
        }
    }
}
.cm-back {
    &.sm {
        padding: 19px 16px;
    }
    &.sl {
        padding: 16px;
    }
}
.posting-list {
    .slider-wrap {
        position: relative;
    }
    .bookmark {
        position: absolute;
        right: 12px;
        z-index: 99;
        top: 11px;
        cursor: pointer;
      }
}
.labor-top {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid $colorBD;
    p{
        word-break: keep-all;
        line-height: 130%;
    }
}
.theme-large {
    .labor-top {
        p {
            line-height: 130%;
        }
    }
}
.edt {
    margin-left: 7px;
    filter: brightness(100);
}
.text-right {
    text-align: right;
}
.consultation-list {
    li {
        border: 1px solid $colorE0;
        border-radius: 4px; 
        margin-bottom: 16px;
        &.b-color-f2{
            border: 1px solid $colorF2;
        }
        .c-list-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 8px;
            h3 {
                max-width: 250px;
                width: 100%;  
                display: flex;
                gap: 8px;             
                span {
                    max-width: 24px;
                    height: 24px;
                    margin-right: 0;
                    img{
                        width: 16px;
                        height: 24px;
                        margin: 0 auto;
                    }
                }
                label{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    white-space: nowrap;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis; 
                }
            }
            &.c-list-top-right{
                h3 {
                    max-width: 210px;
                }
                span {
                    max-width: 110px;
                    flex-basis: 110px;
                    text-align: right;
                }
                .img-spn {
                    max-width: 35px;
                    flex-basis: 35px;
                    text-align: right;
                }
            }
        }
        h3 {
            display: flex;
            align-items: center;
            color: $color33;
            font-weight: 600;
            line-height: 150%;
            span {
                margin-right: 12px;
            }
        }
        span {
            color: $colorA4;
        }
        &:last-child {
            margin-bottom: 0;
        }
        .answer {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid $colorE0;
            padding: 16px 8px;
            p {
                color: $color66;
                font-weight: 500;
                display: flex;
                align-items: center;
                line-height: 150%;
                em {
                    margin-right: 13px;
                    min-width: 13px;
                    max-width: 13px;
                }
            }
        }
    }
}
.mh-24 {
    min-height: 24px;
}
.date.gray {
    color: $colorA4;
}
.no-registere-box {
    border: 1px solid $colorF2;
    border-radius: 8px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        color: $colorA4;
    }
}
.star-rating-list {
    li {
        margin-bottom: 16px;
        border: 1px solid $colorE0;
        border-radius: 8px;
        h3 {
            color: $color33;
            font-weight: 600;
        }
        p {
            display: flex;
            align-items: center;
            font-weight: 600;
            color: $color3F;
            span {
                margin-right: 5px;
            }
        }
        .star-rating-top,.star-rating-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 8px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        .star-rating-top {
            border-bottom: 1px solid $colorF2;
        }
        .star-rating-bottom {
            span {
                color:$colorA4;
            }
            .btn {
                padding: 4px 16px;
                line-height: 170%;
                &.btn-primary-outline {
                    &.disable {
                        background: $colorFA;
                        color:$colorA4;
                        border-color: $colorFA;
                    }
                }
            }
        }
    }
    &.star-rating-list-sm-star {
        li {
            p {
                span {
                    width: 11px;
                }
            }
        }
    }
}
.rating-wrap {
    img {
        width: 100%;
    }
}
.star-rt {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: $color3F;
    span {
        margin-right: 5px;
    }
}